
.custom-login{
    height: 500px;
    padding-top: 100px;
}
img.slider-img {
    height: 400px !important;
}
.custom-product {
    height: 600px;
}
.slider-text{
    background-color: #35443585
}
.trending-image{
    height: 100px;
    width: 100px;
}
.trending-item{
    float: left;
   width: 20%
}
.detail-img{
    height: 200px;
}
.search-box{
    width: 500px !important
}
.category-tabs {
    background-color: transparent;
    border: 0;
    font-size: 1em;
}

