.custom-login {
    height: 500px;
    padding-top: 100px;
}

img.slider-img {
    height: 400px !important;
}

.custom-product {
    height: 600px;
    overflow-y: scroll;
}

.slider-text {
    background-color: #35443585;
}

.trending-image {
    height: 100px;
    width: 100px;
}

.trending-item {
    float: left;
    width: 20%;
}

.detail-img {
    height: 200px;
}

.search-box {
    width: 500px !important;
}

.category-tabs {
    background-color: transparent;
    border: 0;
    font-size: 1em;
}

.navbar-nav {
    align-items: center;
}

.navbar-brand img {
    width: 79.46px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar-brand p {
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.005em;
    text-align: center;
    margin: 0;
}
.navbar-brand .active {
    border-bottom: #c1272d solid 3px;
    margin-right: 50px;
    margin-left: 50px;
}

.nav-item .active {
    border-bottom: #c1272d solid 3px;
}
.nav-item p {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    line-height: 2.2;
    margin: -10px 0 0 0;
}

.navbar .navbar-nav .nav-link {
    padding: 0 2em;
}

/* .vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
} */

.title {
    font-family: 'Times New Roman MT Std';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin: 0 0 50px 0;
}

.place {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 10px;
}

.container {
    padding: 0;
}

.address {
    margin-top: 30px;
    margin-bottom: 50px;
}

.caption1 {
    margin-top: 85px;
}

.caption2 {
    margin-top: 85px;
}

.box {
    position: absolute;
    left: 58.15%;
    right: 12.81%;
    top: 66.13%;
    bottom: 27.33%;
    background: #d9d9d9;
    border-radius: 10px;
}

.text-light {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.border1 {
    position: absolute;
    width: 80vw;
    height: 90vh;
    left: 151px;
    top: 293px;
}

.tagline {
    font-family: 'Times New Roman MT Std';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 130px;
    display: flex;
    align-items: center;
}

.subtitle {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
}

.red-sec {
    background-color: #c1272d;
    align-items: center;
    padding-top: 90px;
}

.tag1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.11em;
    color: #c1272d;
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    text-align: center;
}

.cap1 {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    line-height: 160%;
    text-align: center;
    color: white;
}

.center {
    align-items: center;
    justify-content: center;
}
.nav-item.login {
    position: absolute;
    left: 85%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #ffffff;
}

.about {
    background-size: cover;
    color: white;
}

.signing {
    background-size: cover;
    color: black;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.contactbg {
    background-size: fixed;
    padding: 200px 0px 200px 0px;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
}

.about-box {
    width: 1300px;
    height: 700px;

    background: rgba(255, 255, 255, 0.8);
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.we-are {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 0%;
    writing-mode: vertical-rl;
    color: black;
}

.brandname {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.11em;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    text-align: center;
}

.col2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-fluid {
    width: 431px;
    height: 467px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.story {
    color: black;
}

.card.auth {
    width: 68vh;
    height: min-content; 
    font-family: 'Franklin Gothic Medium';
}

.card-body.auth {
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 10vh;
}
.red-btn {
    background: #a72322;
    width: 48vh;
    height: 7vh;
    border-radius: 12px;
}

.boxbox {
    width: 100%;
    border: 2px solid #a72322;
    border-radius: 12px;
    background: white;
}

.form-box {
    background: white;
}

.check-box {
    background: white;
}

a {
    color: black;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.google {
    display: flex;
    justify-content: center;
}
.reservationbg {
    background-size: cover;
    padding: 200px 0px 200px 0px;
    width: 100%;
    height: 100%;
}

#reservecard {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}
.contact-title {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 25px;
    margin-bottom: 50px;
}

.contact-caption {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 25px;
}

.contact-box {
    border-radius: 90px;
}

.contact-box-2 {
    border-radius: 30px;
}

.contact-red {
    background: #a72322;
}

.text-light-2 {
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-sec {
    background-color: #1e1e1e;
    align-items: center;
    padding-top: 90px;
}

.tag2 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.11em;
    color: #1e1e1e;
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    text-align: center;
}

.capcap {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}

.box2 {
    border-radius: 20px;
    width: 350px;
    background: #c1272d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.red-sectagtag {
    background-color: #c1272d;
    align-items: center;
    padding-top: 40px;
}

.white-sectagtag {
    background-color: white;
    align-items: center;
    padding-top: 40px;
}

.tagtag {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.11em;
    color: #c1272d;
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    text-align: center;
}

.margin-box {
    margin-bottom: 50px;
    margin-top: 50px;
}

.tagtag2 {
    font-family: 'Times New Roman MT';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
}

.more-info {
    background-color: #ffffff;
    font-weight: bold;
    color: #000000;
    border: none;
    padding: 5px 30px;
    border-radius: 25px;
    font-size: 13px;
    cursor: pointer;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px; /* 3 lines x 16px font size */
    min-height: 20px; /* to ensure the container always has a minimum height of 3 lines */
    text-overflow: ellipsis;
}

.red-btn3 {
    background: #a72322;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    padding: 1.5%;
}

.contact-box-3 {
    border-radius: 15px;
    background: white;
    border: solid 2px #a72322;
}
#map {
    width: 50%;
    height: 180px;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-container .card {
    height: 400px;
}

.noorders { 
    background-size: cover;
    padding: 200px 0px 200px 0px;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    /* filter: blur(2px); */
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


/* .noorders {
    background-color: #D9D9D9;
    padding: 200px 0px 200px 0px;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
} */

.searched-item {
    margin: 20px 0;
    margin-left: 20px;
}

.searched-item hr {
    max-width: 80%;
}

.product-card .card {
    height: 400px;
}

.trending-wrapper {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}

.btn-primary{
   --bs-btn-active-bg: #dc3545; 
}

.btn {
    background-color: #dc3545;
    border: none;
}

.btn:hover {
    background-color: #a72322;
    border: none;
}

.close-icon {
      background-color: transparent;
}
.close-icon:hover,
.close-icon:focus {
    color: #dc3545;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent
}


#searchCard:hover, #searchCard:focus{
     color:  #1e1e1e;
     opacity: 0.85;
}

.table-hover tbody tr:hover td {
    background-color: #c1272d;
    color: white;
    opacity: 0.80;
}

.table-hover tr:hover th {
  background-color: inherit;
  color: inherit;
}

td div,
td form {
  display: inline-block;
  vertical-align: middle;
}
